*{
    margin: 0;
    padding: 0;
}
head {
    display: flex;
    align-items: center;
}
body {
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica;
    font-weight: bold;
}
/* Header Nav */

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
    height: 80px;
    font-size: 16px;
    padding: 0px 16px;
    position: fixed;
    background-color: white;
    z-index: 1;
}


.first{
    display: flex;
}

.first a {
    text-decoration: none;
    color: #111111;
}

.first li {
    list-style: none;
    padding: 0px 12px;
}

.first li #inicio {
    background-color: #111111;
    color: white;
    border-radius: 25px;
    padding: 14px 12px 14px;
}

.search {
    flex-grow: 1;
    height: 48px;
    background-color: #E9E9E9;
    border-radius: 30px;

}

.search:hover {
    background-color: #E1E1E1;
}

.search:focus-within {
    border: 4px solid #7FC1FF;
}

.barra {
    display: flex;
    align-items: center;
    height: 48px;
}

#lupa {
    padding: 10px;
    color: #767676;
    font-size: 20px;
    font-weight: bolder;
}

.barra input {
    border: none;
    outline: none;
    background-color: inherit;
    padding: 0px 8px 0px 0px;
    font-size: 16px;
    flex-grow: 1;
}

.barra input:hover + .material-symbols-outlined {
    display: none;
}


.right-items span {
    padding: 8px;
    color: #767676;
    font-size: 28px;
}

.right-items span:hover {
    background-color: #E9E9E9;
    border-radius: 150px;
}


/* Cards */
.content {
    position: absolute;
    margin-top: 80px;
    padding-right: 5px;
}
.gallery {
    columns: 5 120px;
    column-gap: 120px;
    padding: 2rem;
}

.gallery .card-image {
    position: relative;
    padding: 6px;
}

.gallery .card-image img {
    border-radius: 8%;
    min-width: 240px;
    max-width: 240px;
}


.card-image:hover > :first-child {
    filter: brightness(60%);
}

.card-image:hover > * {
    visibility: visible;
    display: inline;
}

.button {
    position: absolute;
    left: 9rem;
    top: 0.8rem; 
    background-color: #e60023;  
    padding: 13px 15px; 
    border-radius: 30px;
    border: none;
    visibility: hidden;
    display: none;
}

.gallery .card-image button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", ;
}

 .oculto-1 {
    position: absolute;
    left: 10.5rem;
    bottom: 8%;
    background-color: #F0F0F0;
    font-size: 30px;
    border-radius: 50px;
    color: #111111;
    font-weight: bolder;
    font-size: 25px;
    padding: 3px;
    visibility: hidden;
    display: none;
}

.oculto-2 {
    position: absolute;
    left: 12.5rem;
    bottom: 8%;
    background-color: #F0F0F0;
    font-size: 30px;
    border-radius: 50px;
    color: #111111;
    font-weight: bolder;
    font-size: 25px;
    padding: 3px;
    visibility: hidden;
    display: none;
}